<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>InventoryManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<servlet>
	<servlet-name>Add</servlet-name>
	<servlet-class>sources.Add</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Add</servlet-name>
	<url-pattern>/Add</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>UpdateStaff</servlet-name>
	<servlet-class>sources.UpdateStaff</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>UpdateStaff</servlet-name>
	<url-pattern>/UpdateStaff</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>DelStaff</servlet-name>
	<servlet-class>sources.DelStaff</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DelStaff</servlet-name>
	<url-pattern>/DelStaff</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>InitBill</servlet-name>
	<servlet-class>sources.InitBill</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>InitBill</servlet-name>
	<url-pattern>/InitBill</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ReadBill</servlet-name>
	<servlet-class>sources.ReadBill</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ReadBill</servlet-name>
	<url-pattern>/ReadBill</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>BillEntry</servlet-name>
	<servlet-class>sources.BillEntry</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>BillEntry</servlet-name>
	<url-pattern>/BillEntry</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>BillToDB</servlet-name>
	<servlet-class>sources.BillToDB</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>BillToDB</servlet-name>
	<url-pattern>/BillToDB</url-pattern>
</servlet-mapping>

</web-app>