#nav
{
position: absolute;    
top: 60px;
left: 5px;    
background-color: black;
height: 43px;
width: 100%;
}
#home
{
    position: absolute;
    left: 5px;
    width: 80px;
    border-radius: 15px;
}
a 
{
padding: 4px 4px;
text-decoration: none;
color: black;
background-color: white;
font-family: californian fb;    
position: absolute;
border: 1px solid black;
border-radius: 5px;    
left: 5px;
top: 5px;    
text-align: center;    
}
a:hover
{
background-color: crimson;
color: white;    
}
#dropdown:hover #dropdown-content
{
    display:block;
}
#dropdown-content
{
    
    display: none;
    border: 1px solid lightgray;
    position: absolute;
    top: 34px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px lightgray;
}
#dropdown
{
    display: block;
    background-color: black;
    width: 50px;
    height: 40px;
    position: absolute;
    left: 75%;
    top: 3px;
}
#dropdown-content a:hover
{
    background-color: crimson;
    color: white;
}
#link1
{
    position: absolute;
    padding: 10 15;
    border: 1px solid lightgray;
    box-shadow: 0px 8px 16px 0px lightgray;
}
#profile 
{
background-color: white;    
border-radius: 1000px;
padding: 0px;  
border: 1px solid black;    
}
#firsthead
{
position: absolute;
top: 133px;
left: 40%;
font-size: 32px;    
font-family: californian fb;    
}
#managest
{
position: absolute;
top: 30%;
background-color: aquamarine;    
}
form a
{
    background-color: aquamarine;
}
#addst
{
    position: absolute;
    top: 33%;
    left: 20%;
}
.manage
{
  
    border: 1px solid black;
    border-radius: 5px;
    background-color: aquamarine;
    height: 45px;
    
    font-family: californian fb;
}
.manage:hover
{
    background-color: crimson;
    color: white;
}
#edit
{
    position: absolute;
    top: 33%;
    width: 160px;
    left: 35%;
    font-size: 18px;
}
#rmv
{
    position: absolute;
    top: 33%;
    width: 170px;
    left: 50%;
    text-align: left;
    font-size: 16px;
}
.latersel
{
    display: none;
    position: absolute;
    top: 33%;
    border-radius: 5px;
    border: 2px solid black;
    left: 20%;
    padding: 10px;
    background-color: crimson;
    color: white;
}
.latercan
{
    display: none;
    position: absolute;
    top: 33%;
    border-radius: 5px;
    border: 2px solid black;
    left: 35%;
    padding: 10px;
    background-color: crimson;
    color: white;
}
th
{
padding: 5 5;
background-color:teal;
color: white;    
border: 1px groove black;
}
td
{
padding: 5 5;
border: 1px groove black;    
}
table
{    
border: 1px solid black;
position: absolute;
top: 40%;    
left: 20%;    
}
.check
{
display: none;    
}
.rd
{
display: none;
}
.ck
{
display: none;
}
