#area
{
    position: absolute;
    top: 30%;
    left: 40%;
    background-color:lightgoldenrodyellow;
    border: 2px solid black;
    height: 280px;
    width: 280px;
    border-radius: 20px;
}
#fphead
{
    font-size: 30px;
    text-align: center;
    font-family: californian fb;
}
#em
{
    position: absolute;
    top: 115px;
    left: 40px;
    width: 200px; 
    padding: 5px;
    font-family: californian fb;
}
#emalert
{
    position: absolute;
    top:130px;
    left:45px;
    color:red;
}
#sub
{
    position: absolute;
    padding: 5px;
    top: 180px;
    left: 70px;
    width: 140px;
    color: white;
    box-shadow: 4px 4px 2px lightgray;
    background-color: cadetblue;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    font-family: californian fb;
}