#nav
{
position: absolute;    
top: 60px;
left: 5px;    
background-color: black;
height: 43px;
width: 100%;
}
#home
{
	position: absolute;
	left: 6px;
	width: 106px;
	border-radius: 15px;
	top: 6px;
}
a 
{
padding: 4px 4px;
text-decoration: none;
color: black;
background-color: white;
font-family: californian fb;    
border: 1px solid black;
border-radius: 5px;      
text-align: center;    
}
a:hover
{
background-color: crimson;
color: white;    
}

a#profile:hover+#dropdown-content
{
    display:block;
}

#dropdown-content:hover
{
    display:block;
}
#dropdown-content
{
    
    display: none;
	position: absolute;
	top: 40px;
	background-color: white;
	box-shadow: 0px 8px 16px 0px lightgray;
	width: 87px;
	height: 66px;
	left: 745px;
}

#dropdown-content a:hover
{
    background-color: crimson;
    color: white;
}
#link1
{
	position: absolute;
	border: 1px solid lightgray;
	box-shadow: 0px 8px 16px 0px lightgray;
	left: 0px;
	top: 32px;
	width: 85px;
	height: 31px;
}
#link2
{
	position: absolute;
	border: 1px solid lightgray;
	box-shadow: 0px 8px 16px 0px lightgray;
	
	width: 85px;
	height: 31px;
}
#profile 
{
	z-index:2;
	position:absolute;
	background-color: white;
	border-radius: 1000px;
	padding: 0px;
	border: 1px solid black;
	left: 745px;
	top: 2px;
	height: 41px;
}
#firsthead
{
position: absolute;
top: 120px;
left: 494px;
font-size: 32px;    
font-family: californian fb;    
}
#issue
{
	position:absolute;
	left: 138px;
	top: 7px;
}
#manp
{
	position:absolute;
	left: 323px;
	top: 7px;
}
#crtown
{
	position:absolute;
	left: 13px;
	top: 203px;
	width: 357px;
	height: 353px;
	border:1px solid #66CCFF;
	background-color:#CCCCCC;
}
#headcrown
{
	position:absolute;
	left: 102px;
	top: 26px;
}
#org
{
	position:absolute;
	left: 71px;
	top: 77px;
	width: 205px;
	border:1px solid black;
}
#oname
{
	position:absolute;
	left: 72px;
	top: 123px;
	width: 206px;
	border:1px solid black;
}
#eml
{
	position:absolute;
	left: 72px;
	top: 171px;
	width: 206px;
	border:1px solid black;
}
#pass
{
	position:absolute;
	left: 74px;
	top: 215px;
	width: 203px;
	border:1px solid black;
}
#cnfpass
{
	position:absolute;
	left: 74px;
	top: 259px;
	width: 203px;
	border:1px solid black;
}
#sub
{
	position:absolute;
	left: 131px;
	top: 298px;
	border:1px solid black;
}
#showtab
{
	position:absolute;
	left: 410px;
	top: -1px;
	border:1px solid black;
	width: 492px;
}
th
{
	background-color:black;
	color:white;
}
