#nav
{
position: absolute;    
top: 60px;
left: 5px;    
background-color: black;
height: 43px;
width: 100%;
}
#home
{
	position: absolute;
	left: 6px;
	width: 80px;
	border-radius: 15px;
	top: 6px;
}
#managest
{
	position: absolute;
	width: 110px;
	left: 368px;
	border-radius: 15px;
	top: 6px;
}
a 
{
padding: 4px 4px;
text-decoration: none;
color: black;
background-color: white;
font-family: californian fb;    
border: 1px solid black;
border-radius: 5px;      
text-align: center;    
}
a:hover
{
background-color: crimson;
color: white;    
}

a#profile:hover+#dropdown-content
{
    display:block;
}

#dropdown-content:hover
{
    display:block;
}
#dropdown-content
{
    
    display: none;
	position: absolute;
	top: 40px;
	background-color: white;
	box-shadow: 0px 8px 16px 0px lightgray;
	width: 87px;
	height: 66px;
	left: 745px;
}

#dropdown-content a:hover
{
    background-color: crimson;
    color: white;
}
#link1
{
	position: absolute;
	border: 1px solid lightgray;
	box-shadow: 0px 8px 16px 0px lightgray;
	left: 0px;
	top: 32px;
	width: 85px;
	height: 31px;
}
#link2
{
	position: absolute;
	border: 1px solid lightgray;
	box-shadow: 0px 8px 16px 0px lightgray;
	
	width: 85px;
	height: 31px;
}
#profile 
{
	z-index:2;
	position:absolute;
	background-color: white;
	border-radius: 1000px;
	padding: 0px;
	border: 1px solid black;
	left: 745px;
	top: 2px;
	height: 41px;
}
#firsthead
{
position: absolute;
top: 120px;
left: 494px;
font-size: 32px;    
font-family: californian fb;    
}
#links
{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
}

#activest
{
	border:1px solid #66FFFF;
	overflow:scroll;
	position:absolute;
	left: 43px;
	top: 209px;
	width: 353px;
	height:380px;
	background-color:#FFFFCC;
}
#issue
{
	position:absolute;
	left: 97px;
	top: 7px;
}
#manp
{
	position:absolute;
	left: 219px;
	top: 6px;
}
#manage
{
	position:absolute;
	left: 220px;
	top: 7px;
}
#activehead
{
	text-align:center;
	font-weight:bold;
	font-family:californinan fb;
	font-size:16px;
	color:#CC0033;
}
/*homeStaff elements */

#qtycheck
{
	position:absolute;
	border:1px solid lightgray;
	left: 42px;
	top: 191px;
	background-color:#99FFFF;
	border:1px solid #99FFFF;
	width: 385px;
	height: 271px;
}
#qtycheckhead
{
	position:absolute;
	font-family:californian fb;
	color:#FF0033;
	font-weight:bold;
	font-size:20px;
	left: 33px;
	top: 8px;
	
}
#qtytable
{
	top:58px;
	position:absolute;
	left: 35px;
	border:1px solid gray;
}
table#qtytable td
{
	text-align:center;
	border:1px solid gray;
}
#expirepros
{
	position:absolute;
	overflow:scroll;
	border:1px solid lightgray;
	background-color:#FFCC99;
	left: 616px;
	top: 190px;
	width: 478px;
	height: 270px;
}
#exphead
{
	text-align:center;
	font-weight:bold;
	font-style:californian fb;
	font-size:20px;
	color:#0000CC;
}
#exptable
{
	border:1px solid gray;
	position:absolute;
	left: 22px;
	top: 65px;
	height: 36px;
	width: 431px;
}
table#exptable td
{
	text-align:center;
	border:1px solid gray;
}
th
{
	border: 1px solid gray;
}

/*homeOwner	*/
#userlog
{
	position:absolute;
	border:1px solid #999999;
	background-color:#99FFFF;
	left: 566px;
	top: 204px;
	width: 485px;
	height: 381px;
	overflow:scroll;
}
#userloghead
{
	position:absolute;
	font-weight:bold;
	font-family:californian fb;
	font-size:20px;
	color:#FF3300;
	left: 205px;
	top: 3px;
}
li
{
	list-style-type:none;
	color:black;
}
ul
{
	position:absolute;
	left: 2px;
	top: 56px;
}
#viewinv
{
	position:absolute;
	left: 492px;
	top: 6px;
}
