<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>InventoryManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<servlet>
	<servlet-name>Add</servlet-name>
	<servlet-class>sources.Add</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Add</servlet-name>
	<url-pattern>/Add</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>UpdateStaff</servlet-name>
	<servlet-class>sources.UpdateStaff</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>UpdateStaff</servlet-name>
	<url-pattern>/UpdateStaff</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>DelStaff</servlet-name>
	<servlet-class>sources.DelStaff</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DelStaff</servlet-name>
	<url-pattern>/DelStaff</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>InitBill</servlet-name>
	<servlet-class>sources.InitBill</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>InitBill</servlet-name>
	<url-pattern>/InitBill</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ReadBill</servlet-name>
	<servlet-class>sources.ReadBill</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ReadBill</servlet-name>
	<url-pattern>/ReadBill</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>BillEntry</servlet-name>
	<servlet-class>sources.BillEntry</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>BillEntry</servlet-name>
	<url-pattern>/BillEntry</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>BillToDB</servlet-name>
	<servlet-class>sources.BillToDB</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>BillToDB</servlet-name>
	<url-pattern>/BillToDB</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ReadUserLog</servlet-name>
	<servlet-class>sources.ReadUserLog</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ReadUserLog</servlet-name>
	<url-pattern>/ReadUserLog</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Disconnect</servlet-name>
	<servlet-class>sources.Disconnect</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Disconnect</servlet-name>
	<url-pattern>/Disconnect</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ChangePass</servlet-name>
	<servlet-class>sources.ChangePass</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ChangePass</servlet-name>
	<url-pattern>/ChangePass</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Email</servlet-name>
	<servlet-class>sources.Email</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Email</servlet-name>
	<url-pattern>/Email</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>SendVal</servlet-name>
	<servlet-class>check.SendVal</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>SendVal</servlet-name>
	<url-pattern>/SendVal</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>InvoiceToDB</servlet-name>
	<servlet-class>sources.InvoiceToDB</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>InvoiceToDB</servlet-name>
	<url-pattern>/InvoiceToDB</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ClearUserLogs</servlet-name>
	<servlet-class>sources.ClearUserLogs</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ClearUserLogs</servlet-name>
	<url-pattern>/ClearUserLogs</url-pattern>
</servlet-mapping>

<!-- Admin Classes -->
<servlet>
	<servlet-name>AdminCred</servlet-name>
	<servlet-class>sources.AdminCred</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>AdminCred</servlet-name>
	<url-pattern>/AdminCred</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>AdminSignout</servlet-name>
	<servlet-class>sources.AdminSignout</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>AdminSignout</servlet-name>
	<url-pattern>/AdminSignout</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>DelOrg</servlet-name>
	<servlet-class>sources.DelOrg</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DelOrg</servlet-name>
	<url-pattern>/DelOrg</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>AddOrg</servlet-name>
	<servlet-class>sources.AddOrg</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>AddOrg</servlet-name>
	<url-pattern>/AddOrg</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>AddOwner</servlet-name>
	<servlet-class>sources.AddOwner</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>AddOwner</servlet-name>
	<url-pattern>/AddOwner</url-pattern>
</servlet-mapping>

</web-app>